#chat-screen {
  background-color: #339966;
  height: 1100vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #339966; /*바탕색을 줘야 됨. 원래는 투명한 색이엿음 ㅅㅂ*/
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
}

.main-chat {
  margin-top: 120px;
}
